### mongoDB python 연동 
- 라이브러리 설치 (pymongo)
- 라이브러리 로드 
- 서버와의 연결

In [38]:
# 라이브러리 설치 
# !pip install pymongo

In [2]:
from pymongo import MongoClient

In [3]:
# 서버와의 연결 
# 객체 생성 -> Class 생성
client = MongoClient(
    host = '127.0.0.1', 
    port = 27017
)

In [4]:
# 데이터베이스의 목록을 확인 
client.list_database_names()

['admin', 'config', 'local']

In [5]:
# 기존에 존재하지않은 데이터베이스 선택 
db = client['ubion2']

In [6]:
# collection 생성 
collection = db['users']

In [7]:
data = {
    'id' : 'test', 
    'pass' : '1234'
}
collection.insert_one(data)

InsertOneResult(ObjectId('67ef6b77a3e9bb863516fb2b'), acknowledged=True)

In [8]:
client.list_database_names()

['admin', 'config', 'local', 'ubion2']

In [9]:
data = [
    {
        'name' : 'kim', 
        'phone' : '01011112222', 
        'gender' : 'male'
    }, 
    {
        'loc' : 'seoul'
    }
]
collection.insert_many(data)

InsertManyResult([ObjectId('67ef6b79a3e9bb863516fb2c'), ObjectId('67ef6b79a3e9bb863516fb2d')], acknowledged=True)

In [10]:
list(collection.find())

[{'_id': ObjectId('67ef6b77a3e9bb863516fb2b'), 'id': 'test', 'pass': '1234'},
 {'_id': ObjectId('67ef6b79a3e9bb863516fb2c'),
  'name': 'kim',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('67ef6b79a3e9bb863516fb2d'), 'loc': 'seoul'}]

In [11]:
collection.find_one()

{'_id': ObjectId('67ef6b77a3e9bb863516fb2b'), 'id': 'test', 'pass': '1234'}

In [12]:
# find()함수는 인자값으로 옵션의 값들을 대입
list(
    collection.find( {
        'name' : 'kim'
    }, 
    {
        '_id' : 0
    }
     )
)

[{'name': 'kim', 'phone': '01011112222', 'gender': 'male'}]

In [13]:
collection.update_one(
    {
        'id' : 'test'
    }, {
        '$set' :
            {
            'pass' : '0000'
        }
    }
)
# SQL -> update `users` set `pass` = '0000'  where `id` = 'test'

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [14]:
list(
    collection.find()
)

[{'_id': ObjectId('67ef6b77a3e9bb863516fb2b'), 'id': 'test', 'pass': '0000'},
 {'_id': ObjectId('67ef6b79a3e9bb863516fb2c'),
  'name': 'kim',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('67ef6b79a3e9bb863516fb2d'), 'loc': 'seoul'}]

In [15]:
# 삭제 
collection.delete_one(
    {
        'id' : 'test'
    }
)
# SQL ->  DELETE FROM `users` WHERE `id` = 'test'

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [16]:
list(collection.find())

[{'_id': ObjectId('67ef6b79a3e9bb863516fb2c'),
  'name': 'kim',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('67ef6b79a3e9bb863516fb2d'), 'loc': 'seoul'}]

#### mongoDB select 조건식
- find(옵션1, 옵션2, ...)
    1. db.collection.find() -> SELECT * FROM TABLE
    2. db.collection.find({'id' : 'test', 'pass' : '1234'}) -> SELECT * FROM TABLE WHERE `id` = 'test' AND `pass` = '1234'
    3. db.collection.find({'id' : 'test'}, {'pass' : '1234'}) -> SELECT * FROM TABLE WHERE `id` = 'test' OR `pass` = '1234'
    4. db.collection.find({}, {'id' : 1, 'pass' : 1}) -> SELECT `id`, `pass` FROM TABLE
    5. db.collection.find({}, {'id' : 0}) -> id 컬럼 제외한 sql쿼리문
    6. db.collection.find({'age' : {'$gt' : 25}}) -> SELECT * FROM TABLE WHERE `age` > 25
    7. db.collection.find({'age' : {'$lt' : 25}}) -> SELECT * FROM TABLE WHERE `age` < 25
    8. db.collection.find({'id' : {/bc/}}) : SELECT * FROM TABLE WHERE `id` LIKE '%bc%'
    9. db.collection.find().sort({'id' : 1}) : SELECT * FROM TABLE ORDER BY `id` ASC
    10. db.collection.find().sort({'id' : -1}) : SELECT * FROM TABLE ORDER BY `id` DESC
    11. db.collection.find().limit(10) : SELECT * FROM TABLE LIMIT 10

In [17]:
# MONGODB에서 admin 데이터베이스에서 test라는 collection에 있는 데이터 중 
# SAL의 값이 1500보다 큰 데이터에서 ENAME을 기준으로 내림차순 정렬

list(client['admin'].test.find(
).sort([('ENAME' , -1)]))

[]